* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Castledown", sans-serif;
  font-weight: 900;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style-type: none;
}

a,
input {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  min-width: 1920px;
  overflow-x: hidden;
}

.title {
  font-size: 64px;
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.text-lightest {
  color: #eff8fa;
}

.text-darkest {
  color: #183249;
}

.appearance-ani {
  -webkit-animation: appearance 2s linear;
  animation: appearance 2s linear;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #eff8fa;
}

.btn-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 476px;
  padding: 4px 4px;
  gap: 0px 15px;
  border: 4px solid #009dd9;
  border-radius: 35px;
  background-color: #ffffff;
}

.btn-contact-input {
  padding-left: 10px;
  background-color: transparent;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  border: none;
}

.btn-contact-input:focus {
  outline: none;
}

.btn-contact-confirm {
  cursor: pointer;
  border: none;
  background: url(../assets/images/icon/arrow-right-btn.svg);
  width: 46px;
  height: 46px;
  margin-left: -65px;
  border-radius: 50%;
}

.btn-contact-confirm:hover {
  opacity: 0.8;
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes nearly-appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes nearly-appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@-webkit-keyframes zoom-out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoom-out {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes zoom-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(calc(-98px * 8));
            transform: translate(calc(-98px * 8));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(calc(-98px * 8));
            transform: translate(calc(-98px * 8));
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: inherit;
  z-index: 999;
  padding: 15px 0px;
  line-height: 1.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

.header__logo-light {
  width: 55px;
  height: 55px;
  background: url(../assets/images/icon/icon-light.svg) no-repeat;
}

.header__logo-dark {
  width: 55px;
  height: 55px;
  background: url(../assets/images/icon/icon-dark.svg) no-repeat;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 30px;
}

.header__list-item:hover {
  opacity: 0.8;
}

.header__btn {
  border: 3px solid currentcolor;
  padding: 5px 20px;
  border-radius: 35px;
}

.header__menu {
  display: none;
}

.header .open-menu {
  font-size: 24px;
  background: transparent;
}

.header .open-menu,
.header .mobile-table-nav {
  display: none;
}

.header .tablet-only {
  display: none;
}

.header .mobile-table-nav {
  visibility: hidden;
  width: 100%;
  height: 120vh;
  border-radius: 50%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px 0px;
  color: #eff8fa;
  will-change: opacity;
}

.header .header__mobile-menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 2000px;
  height: 2000px;
  top: -500px;
  right: -500px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-color: #183249;
  border-radius: 50%;
}

.header .close-menu {
  position: absolute;
  top: 30px;
  right: 45px;
  border: none;
  background-color: transparent;
  font-size: 32px;
}

.header .close-menu-icon {
  color: #eff8fa;
}

.hero {
  position: relative;
  padding-top: 190px;
  padding-bottom: 1300px;
  background: url(../assets/images/illustration-expanded.png) no-repeat bottom center/100%, -webkit-gradient(linear, left top, left bottom, from(#f4a6a2), to(#fcf6d8));
  background: url(../assets/images/illustration-expanded.png) no-repeat bottom center/100%, linear-gradient(to bottom, #f4a6a2, #fcf6d8);
}

.hero__heading {
  line-height: 1.2;
  font-size: 64px;
  color: #183249;
  margin-bottom: 50px;
}

.hero__back-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hero__subheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.hero__subheading-content {
  margin-right: 10px;
}

.hero__subheading .img {
  opacity: 0.8;
}

.hero__email {
  max-width: 476px;
  padding: 4px 4px;
  gap: 0px 15px;
}

.about {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#344158), to(#287795));
  background: linear-gradient(to bottom, #344158, #287795);
  padding: 200px 0px;
  color: #d9d9d9;
}

.about__content {
  max-width: 620px;
}

.about__title {
  margin-bottom: 50px;
}

.about__desc {
  margin-bottom: 35px;
}

.about__video {
  max-width: 480px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 15px;
  background: url(../assets/images/about-image/image3.png);
  color: #ffffff;
  font-size: 16px;
  border-radius: 45px;
  border: 3px solid #009dd9;
}

.about__gear-item {
  position: absolute;
}

.about__gear-item:hover .about__gear-content {
  -webkit-animation: appearance 1s forwards;
          animation: appearance 1s forwards;
}

.about__gear-item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  will-change: opacity;
}

.about__gear-item .overlay-item {
  z-index: 4;
  -webkit-animation: nearly-appearance 1s linear forwards;
          animation: nearly-appearance 1s linear forwards;
}

.about__gear-content {
  opacity: 0;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 280px;
  font-size: 28px;
  text-align: center;
  will-change: opacity;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 840px;
  gap: 0px 50px;
}

.about__info-logo {
  max-width: 100%;
}

.about__info-heading {
  max-width: 100%;
  margin-bottom: 40px;
}

.about #item1 {
  width: 535px;
  height: 538px;
  left: calc(50% - 535px / 2 + 309px);
  top: 165px;
}

.about #item2 {
  width: 535px;
  height: 532px;
  left: calc(50% - 535px / 2 + 576px);
  top: 622px;
}

.about #item3 {
  width: 489px;
  height: 488px;
  left: calc(50% - 489px / 2 + 106px);
  top: 779px;
}

.about #item4 {
  width: 389px;
  height: 376px;
  left: calc(50% - 389px / 2 + -229px);
  top: 1124px;
}

.stories {
  position: relative;
  height: 1052px;
  background-color: #c36d46;
  padding-top: 150px;
  color: #e0e5e8;
}

.stories__main {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.stories__title {
  margin-bottom: 30px;
}

.stories__content {
  max-width: 100%;
}

.stories__image {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
}

.stories__image-item {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  border-radius: 50%;
}

.stories__quote-content {
  z-index: 10;
  cursor: default;
  max-width: 547px;
  position: absolute;
  width: 547px;
  height: 230px;
  left: 260px;
  top: 357px;
  padding: 32px 15px;
  background-color: rgba(243, 243, 243, 0.8);
  color: #000000;
  border-radius: 8px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-animation: zoom-in 200ms ease;
          animation: zoom-in 200ms ease;
}

.stories__quote-content .person-quote {
  margin-bottom: 20px;
}

.stories__quote-content::before {
  position: absolute;
  right: -7px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px;
  border-color: rgba(243, 243, 243, 0.8) transparent transparent rgba(243, 243, 243, 0.8);
  border-top-left-radius: 2px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.stories .zoom-out-ani {
  -webkit-animation: zoom-out 200ms ease forwards;
          animation: zoom-out 200ms ease forwards;
}

.stories #person1 {
  width: 244px;
  height: 244px;
  top: 213px;
  left: 732px;
}

.stories #person2 {
  width: 100px;
  height: 100px;
  top: 137px;
  left: 934px;
}

.stories #person3 {
  width: 144px;
  height: 144px;
  top: 65px;
  left: 1044px;
}

.stories #person4 {
  width: 116px;
  height: 116px;
  top: 250px;
  left: 1017px;
}

.stories #person5 {
  width: 100px;
  height: 100px;
  top: 209px;
  left: 1138px;
}

.stories #person6 {
  width: 125px;
  height: 125px;
  top: 327px;
  left: 1159px;
}

.stories #person7 {
  width: 98px;
  height: 98px;
  top: 390px;
  left: 961px;
}

.stories #person8 {
  width: 71px;
  height: 71px;
  top: 520px;
  left: 944px;
}

.stories #person9 {
  width: 100px;
  height: 100px;
  top: 456px;
  left: 1068px;
}

.leader {
  overflow: hidden;
  padding-top: 170px;
  padding-bottom: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#b77554), color-stop(98.96%, #c45e5e));
  background: linear-gradient(180deg, #b77554 0%, #c45e5e 98.96%);
  color: #eff8fa;
}

.leader__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
}

.leader__content-img {
  max-width: 100%;
}

.leader__title {
  margin-bottom: 50px;
}

.leader__persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 42px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.leader__persons::-webkit-scrollbar {
  display: none;
}

.leader__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px 0px;
  margin-top: 100px;
}

.leader__person-img {
  width: 112px;
  height: auto;
  border-radius: 50%;
}

.leader__person-desc {
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.judges {
  padding: 170px 0px;
  background: #bc6d58;
  color: #eff8fa;
}

.judges__keynote-title {
  margin-bottom: 30px;
}

.judges__keynote-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 20px;
  margin-bottom: 50px;
}

.judges__keynote-company {
  margin: 15px 0px;
}

.judges__info-title {
  margin-bottom: 50px;
}

.judges__persons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 35px 0px;
}

.judges__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 15px;
}

.judges__person img {
  border-radius: 50%;
}

.sponsors {
  padding: 150px 0px;
  background-color: #eff8fa;
  color: #31433f;
}

.sponsors__heading {
  font-weight: 500;
}

.sponsors__header {
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: end;
}

.sponsors__header-contact {
  background-color: #009dd9;
  color: #eff8fa;
  padding: 15px 30px;
  border-radius: 35px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.sponsors__content-desc {
  margin: 50px 0px;
  color: #302929;
}

.sponsors__showcase-content {
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 80px;
}

.sponsors__showcase-logo {
  width: 197px;
  height: 96px;
}

.sponsors__showcase-main {
  max-width: 824.45px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 45px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-animation: zoom-in 0.5s ease;
          animation: zoom-in 0.5s ease;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.sponsors__showcase-main::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -13px;
  width: 0px;
  height: 0px;
  border-width: 14px;
  border-style: solid;
  border-color: #ffffff transparent transparent #ffffff;
  border-top-left-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.06);
          box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.06);
}

.sponsors__showcase-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 15px;
}

.sponsors__showcase-nav-item {
  cursor: pointer;
  background: #c4c4c4;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.sponsors__showcase-nav-selected-item {
  background-color: #183249;
}

.sponsors__showcase-desc {
  color: #000000;
  font-weight: 400;
  margin-bottom: 20px;
}

.sponsors__showcase-desc:before, .sponsors__showcase-desc:after {
  content: '"';
}

.sponsors__showcase-links {
  color: #009dd9;
}

.sponsors__member {
  margin-top: 100px;
}

.sponsors__member-main {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px 0px;
  margin-bottom: 100px;
}

.sponsors__member-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px 0px;
}

.sponsors__partners {
  margin-top: 100px;
}

.sponsors__partner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FAQ {
  padding-top: 150px;
  padding-bottom: 300px;
  background-color: #eff8fa;
}

.FAQ__title {
  color: #31433f;
}

.FAQ__questions {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.FAQ__questions-item {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px 0px;
}

.FAQ__question {
  overflow: hidden;
}

.FAQ__question-title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #183249;
  font-weight: 700;
  font-size: 16px;
}

.FAQ__question-title-arrow {
  margin-left: 15px;
  width: 12px;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.FAQ__question-title-arrow-up {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.FAQ__question-content {
  max-height: 0px;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.FAQ__question-content .content {
  font-weight: 400;
  color: #183249;
  font-size: 16px;
}

.footer {
  background: url(../assets/images/Union.png) no-repeat top/100%;
  background-size: cover;
  background-color: #eff8fa;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #eff8fa;
  line-height: 1.8;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px 0px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 0px;
}

.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 25px;
  white-space: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 25px;
  font-size: 24px;
}

.footer__contact {
  width: 100%;
}

.footer__students {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__students-list {
  width: 95vw;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px 25px;
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
}

.footer__students-list-track {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.footer__students-list-track::before, .footer__students-list-track::after {
  content: "";
  height: 100px;
  width: 50px;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#373f57));
  background: linear-gradient(to right, transparent 0%, #373f57 100%);
  z-index: 2;
}

.footer__students-list-track::before {
  top: 23px;
  right: 0;
}

.footer__students-list-track::after {
  top: 23px;
  left: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.footer__student {
  border-radius: 50%;
}

@media screen and (min-width: 2560px) {
  .wrapper {
    min-width: 2560px;
  }
  .hero {
    background-position: top;
    background-size: 100%;
    padding-bottom: 2000px;
  }
}

@media screen and (max-width: 1439px) {
  .wrapper {
    min-width: 1024px;
  }
  .container {
    max-width: 900px;
    padding: 0px 10px;
  }
  .hero {
    padding-bottom: 820px;
  }
  .about__info {
    margin-top: 1420px;
  }
  .about #item1 {
    width: 535px;
    height: 538px;
    left: calc(50% - 535px / 2 + 258px);
    top: 779px;
  }
  .about #item2 {
    width: 535px;
    height: 532px;
    left: calc(50% - 535px / 2 + 198px);
    top: 1472px;
  }
  .about #item3 {
    width: 489px;
    height: 488px;
    left: calc(50% - 489px / 2 + -141px);
    top: 1098px;
  }
  .about #item4 {
    width: 389px;
    height: 376px;
    left: calc(50% - 389px / 2 + -355px);
    top: 1550px;
  }
  .stories {
    height: 1152px;
  }
  .stories__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stories__quote-content {
    left: 55px;
    top: 638px;
  }
  .stories #person1 {
    width: 164px;
    height: 164px;
    top: 547px;
    left: 565px;
  }
  .stories #person2 {
    width: 100px;
    height: 100px;
    top: 493px;
    left: 344px;
  }
  .stories #person3 {
    width: 144px;
    height: 144px;
    top: 352px;
    left: 561px;
  }
  .stories #person4 {
    width: 116px;
    height: 116px;
    top: 352px;
    left: 121px;
  }
  .stories #person5 {
    width: 100px;
    height: 100px;
    top: 481px;
    left: 465px;
  }
  .stories #person6 {
    width: 125px;
    height: 125px;
    top: 481px;
    left: 56px;
  }
  .stories #person7 {
    width: 98px;
    height: 98px;
    top: 460px;
    left: 224px;
  }
  .stories #person8 {
    width: 71px;
    height: 71px;
    top: 380px;
    left: 444px;
  }
  .stories #person9 {
    width: 100px;
    height: 100px;
    top: 373px;
    left: 305px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    min-width: 768px;
  }
  .container {
    max-width: 680px;
    padding: 0 4px;
  }
  .header .tablet-show {
    display: unset;
  }
  .hero {
    padding-bottom: 620px;
  }
  .about__info {
    margin-top: 1568px;
  }
  .about #item1 {
    width: 535px;
    height: 538px;
    left: calc(50% - 535px / 2 + 258px);
    top: 779px;
  }
  .about #item2 {
    width: 535px;
    height: 532px;
    left: calc(50% - 535px / 2 + 198px);
    top: 1472px;
  }
  .about #item3 {
    width: 489px;
    height: 488px;
    left: calc(50% - 489px / 2 + -141px);
    top: 1098px;
  }
  .about #item4 {
    width: 389px;
    height: 376px;
    left: calc(50% - 389px / 2 + -355px);
    top: 1550px;
  }
}

@media screen and (max-width: 1023px) {
  .title {
    font-size: 29px;
  }
  .desc {
    font-size: 16px;
  }
  .btn-contact {
    width: 100%;
  }
  .btn-contact-input {
    font-size: 12px;
  }
  .header .mobile-table-hide {
    display: none;
  }
  .header .mobile-table-show {
    display: unset;
  }
  .header__social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0px 10px;
  }
  .hero {
    font-size: 12px;
  }
  .hero__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__heading {
    margin-bottom: 20px;
  }
  .hero__subheading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__subheading-content {
    margin-bottom: 20px;
  }
  .about {
    padding: 120px 0px;
  }
  .about__info {
    display: block;
    margin-top: 868px;
  }
  .about__info-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .about #item1 {
    width: 270.78px;
    height: 272.29px;
    left: calc(50% - 270.78px / 2 + 97.01px);
    top: 664px;
  }
  .about #item2 {
    width: 270.78px;
    height: 269.26px;
    left: calc(50% - 270.78px / 2 + 66.64px);
    top: 1014.74px;
  }
  .about #item3 {
    width: 247.49px;
    height: 246.99px;
    left: calc(50% - 247.49px / 2 + -104.94px);
    top: 825.45px;
  }
  .about #item4 {
    width: 196.88px;
    height: 190.3px;
    left: calc(50% - 196.88px / 2 + -126.24px);
    top: 1189px;
  }
  .leader__person {
    min-width: 30%;
  }
  .leader__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px 0px;
  }
  .leader__content-img {
    display: block;
    margin: 0 auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .leader__content-img img {
    max-width: 100%;
  }
  .judges__keynote-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .leader__person {
    min-width: 44%;
  }
  .judges__persons {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sponsors__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0px;
  }
  .sponsors__header-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .sponsors__showcase-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0px;
  }
  .sponsors__showcase-main {
    -webkit-transform-origin: 100px 0px;
            transform-origin: 100px 0px;
  }
  .sponsors__showcase-main::before {
    top: -14px;
    left: 100px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .sponsors__member-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sponsors__partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 0px;
  }
  .FAQ__questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px 0px;
  }
  .FAQ__questions-item {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    min-width: 480px;
  }
  .container {
    max-width: 428px;
    padding: 0px 10px;
  }
  .header .tablet-show {
    display: unset;
  }
  .hero {
    padding-top: 120px;
    padding-bottom: 580px;
  }
  .stories {
    height: 1300px;
  }
  .stories__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stories__quote-content {
    max-width: 85vw;
    height: auto;
    left: -30px;
    top: 648px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .stories__quote-content:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -7px;
    left: 92px;
  }
  .stories #person1 {
    width: 111px;
    height: 111px;
    top: 544px;
    left: 11px;
  }
  .stories #person2 {
    width: 79px;
    height: 79px;
    top: 518px;
    left: 138px;
  }
  .stories #person3 {
    width: 78px;
    height: 78px;
    top: 559px;
    left: 217px;
  }
  .stories #person4 {
    width: 0;
    height: 0;
    top: 518px;
    left: 307px;
  }
  .stories #person5 {
    width: 82px;
    height: 82px;
    top: 461px;
    left: 251px;
  }
  .stories #person6 {
    width: 99px;
    height: 99px;
    top: 436px;
    left: 64px;
  }
  .stories #person7 {
    width: 107px;
    height: 107px;
    top: 330px;
    left: 167px;
  }
  .stories #person8 {
    width: 117px;
    height: 117px;
    top: 315px;
    left: 40px;
  }
  .stories #person9 {
    width: 100px;
    height: 100px;
    top: 352px;
    left: 288px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    min-width: unset;
  }
  .container {
    max-width: 320px;
    padding: 0px 10px;
  }
  .hero {
    padding-top: 120px;
    padding-bottom: 615px;
    background-size: cover;
  }
  .about #item1 {
    width: 270.78px;
    height: 272.29px;
    left: calc(50% - 270.78px / 2 + 97.01px);
    top: 914px;
  }
  .about #item2 {
    width: 270.78px;
    height: 269.26px;
    left: calc(50% - 270.78px / 2 + 66.64px);
    top: 1264.74px;
  }
  .about #item3 {
    width: 247.49px;
    height: 246.99px;
    left: calc(50% - 247.49px / 2 + -104.94px);
    top: 1075.45px;
  }
  .about #item4 {
    width: 196.88px;
    height: 190.3px;
    left: calc(50% - 196.88px / 2 + -126.24px);
    top: 1439px;
  }
  .stories {
    height: 1500px;
  }
  .stories__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stories__quote-content {
    max-width: 85vw;
    height: auto;
    left: -0px;
    top: 848px;
    -webkit-transform-origin: 100px 10px;
            transform-origin: 100px 10px;
  }
  .stories__quote-content:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -7px;
    left: 62px;
  }
  .stories #person1 {
    width: 111px;
    height: 111px;
    top: 744px;
    left: 11px;
  }
  .stories #person2 {
    width: 79px;
    height: 79px;
    top: 648px;
    left: 78px;
  }
  .stories #person3 {
    width: 78px;
    height: 78px;
    top: 659px;
    left: 167px;
  }
  .stories #person4 {
    width: 0;
    height: 0;
    top: 648px;
    left: 257px;
  }
  .stories #person5 {
    width: 82px;
    height: 82px;
    top: 561px;
    left: 201px;
  }
  .stories #person6 {
    width: 99px;
    height: 99px;
    top: 536px;
    left: 14px;
  }
  .stories #person7 {
    width: 107px;
    height: 107px;
    top: 430px;
    left: 107px;
  }
  .stories #person8 {
    width: 117px;
    height: 117px;
    top: 415px;
    left: -10px;
  }
  .stories #person9 {
    width: 100px;
    height: 100px;
    top: 442px;
    left: 238px;
  }
}
/*# sourceMappingURL=app.css.map */