.footer {
  background: url(../assets/images/Union.png) no-repeat top / 100%;
  background-size: cover;
  background-color: $lightest-grey;
  padding-top: 100px;
  padding-bottom: 100px;
  color: $lightest-grey;
  line-height: 1.8;
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px 0px;
  }
  &__about {
    display: flex;
    gap: 0px 25px;
    white-space: nowrap;
    flex-wrap: wrap;
  }
  &__social_links {
    display: flex;
    gap: 0px 25px;
    font-size: 24px;
  }
  &__contact {
    width: 100%;
  }
  &__students {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__students-list {
    width: 95vw;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 0px 25px;
    animation: scroll 40s linear infinite;
    &-track {
      position: relative;
      width: 100%;
      margin: 0 auto;
      overflow-x: hidden;
      &::before,
      &::after {
        content: "";
        height: 100px;
        width: 50px;
        position: absolute;
        background: linear-gradient(to right, transparent 0%, #373f57 100%);
        z-index: 2;
      }
      &::before {
        top: 23px;
        right: 0;
      }
      &::after {
        top: 23px;
        left: 0;
        transform: rotateZ(180deg);
      }
    }
  }
  &__student {
    border-radius: 50%;
  }
}
