$primary-font: "Inter", sans-serif;
$secondary-font: "Castledown", sans-serif;
$darkest-grey: #183249;
$lightest-grey: #eff8fa;
$light-grey: #d9d9d9;
$accent-blue: #009dd9;
$pattens-blue: #e0e5e8;
$darkest-blue: #183249;
$blue-gradient: linear-gradient(to bottom, #344158, #287795);
$gable-green: #31433f;
$primary-line-height: 1.8;
$secondary-line-height: 1.2;

// stories person image
